* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.clearfloat:after {
  /*最简方式*/
  content: '';
  display: block;
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
li {
  list-style: none;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/****************button*****************/
button.btn.btn-md {
  font-size: 18px;
  padding: 3px 22px;
}
button.btn.btn-blue-bg {
  background-color: #30A7FF;
  color: #fff;
}
button.btn.btn-blue {
  color: #30A7FF;
  background: none;
  border: 1px solid #30A7FF;
  border-radius: 5px;
}
/****************公用class*****************/
.model_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  /*margin-top: -181px;
	margin-left: -462px;*/
}
.no-margin {
  margin: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
