* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.clearfloat:after {
  /*最简方式*/
  content: '';
  display: block;
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
}
li {
  list-style: none;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/****************breadcrumb*****************/
.el-breadcrumb__item .el-breadcrumb__item__inner {
  height: 40px;
  line-height: 40px;
  font-size: 20px !important;
  color: #000 !important;
}
/****************公用class*****************/
.model_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.no-margin {
  margin: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
.indexContainer {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 250px;
  right: 0;
  padding: 20px;
}
.indexContainer .contextContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
}
.indexContainer .contextContainer .top {
  position: relative;
  height: 50px;
}
.indexContainer .contextContainer .tableContainer {
  position: absolute;
  top: 50px;
  bottom: 20px;
  width: 100%;
  left: 0;
}
