//主题设置
@theme_color:#30A7FF;
@theme_color_blue:#237ae5;
@bg_color:#337AB7;
@bg_color_w:#fff;
@text_color:#fff;
@text_color_g:#666;

@text_font_size:18px;
@text_font_size_sm:16px;
@text_font_size_md:20px;
@text_font_size_lg:22px;

@panel-title-font-size:20px;
@panel-title-color:#fff;
@panel-title-bg:#30A7FF;
@panel-title-height:46px;

@top_height:50px;
@left_width:250px;





.no-wrap(){
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


